---
layout: index
---

<div class="page-content intro">
  <div class="container">


    {{ site.data.intro.intro | markdownify }}
    {{ site.data.intro.currently | markdownify }}


  </div>
</div>

<div class="page-content tools">
  <div class="container row">
      <h2 class="page-heading"><span>Tools</span></h1>
      <section class="column one-half current">
        <h3>The stuff I use every day:</h3>
        <ul>
          <li>Ruby & Ruby on Rails (test: Minitest & Capybara)
            <span class="experience short">2014- present</span>
          </li>
          <li>Javascript (test: Jasmine)
            <span class="experience med-long">2009- present</span>
          </li>
          <li>HTML/CSS
            <span class="experience long">1998/2001 - present</span>
          </li>
          <li>Hybrid Android & iOS development with Cordova/PhoneGap
            <span class="experience short">2011- present</span>
          </li>
          <li>Postgres
            <span class="experience short">2014- present</span>
          </li>
          <li>Git
            <span class="experience short">2010- present</span>
          </li>
          <li>ReactJS
            <span class="experience short">2016- present</span>
          </li>
        </ul>
        <p><a href="https://www.linkedin.com/in/ali-haberfield-4b705620">You'll find more of my CV on LinkedIn</a>.</p>
      </section>
      <section class="column one-half past">
        <h3>Past & occasional tools:</h3>
        <ul>
          <li>WordPress, Typo3 & other PHP CMS
            <span class="experience med-long">7 years</span>
          </li>
          <li>Java with Tapestry framework
            <span class="experience med">2 years</span>
          </li>
          <li>Python with Flask framework
            <span class="experience med">2 years</span>
          </li>
          <li>AngularJS
            <span class="experience short">1 year</span>
          </li>
        </ul>
      </section>
  </div>
</div>

<div class="page-content posts">
  <div class="container">

      <ul class="post-list">
        {% for post in site.categories.tech limit:1 %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <p>{{ post.excerpt || markdownify }}</p>
          </li>
        {% endfor %}
      </ul>
  </div>
</div>

<div class="page-content side-projects">
  <div class="container">
    <h2 class="page-heading"><span>Outside projects</span></h2>
        {% for project in site.data.side-projects %}
          {% include project.html project=project %}
        {% endfor %}
  </div>
</div>

<div class="page-content posts blog">
  <div class="container">
      <ul class="post-list">
        {% for post in site.categories.blog limit:1 %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <p>{{ post.excerpt || markdownify }}</p>
          </li>
        {% endfor %}
      </ul>
  </div>
</div>

