---
layout: index
---

<div class="page-content intro">
  <div class="container">


    {{ site.data.intro.intro | markdownify }}
    {{ site.data.intro.currently | markdownify }}


  </div>
</div>

<div class="page-content posts">
  <div class="container">

      <ul class="post-list">
        {% for post in site.categories.tech limit:1 %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <p>{{ post.excerpt || markdownify }}</p>
          </li>
        {% endfor %}
      </ul>
  </div>
</div>

<div class="page-content side-projects">
  <div class="container">
    <h2 class="page-heading"><span>Outside projects</span></h2>
        {% for project in site.data.side-projects %}
          {% include project.html project=project %}
        {% endfor %}
  </div>
</div>

<div class="page-content posts blog">
  <div class="container">
      <ul class="post-list">
        {% for post in site.categories.blog limit:1 %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <p>{{ post.excerpt || markdownify }}</p>
          </li>
        {% endfor %}
      </ul>
  </div>
</div>
