<header class="site-header">

  <div class="container">

    <div class="site-badge">
    	<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a><br/>
    	<a href="mailto:'just-write-hello-here@the-obvious-domain'?subject=Hello Ali">{{ site.email }}</a>
    	<ul class="social-media-list">
    		{% for icon in site.data.social %}
    			{% include icon.html url=icon.url class=icon.title %}
    		{% endfor %}
        </ul>
    </div>

  </div>

<div class="rainbow-rule"></div>
</header>
